.Question-Section {
    margin: 150px 50px 0 50px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px;
    padding: 16px;
}

.Question-Section h3{
    font-size: 32px;
}

.Question-Info{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-bottom: 50px
}

.Question-Info span{
    font-size: 14px;
    padding: 6px;
    border: 2px solid white;
    border-radius: 10px;
}

.Question-Section button{
    border: 2px solid whitesmoke;
    border-radius: 10px;
    color: whitesmoke;
    background: none;
    font-size: 22px;
    padding: 8px;
}

.Load{
    font-size: 28px;
    margin: 150px 50px 0px 50px;
}

.Question-Section button:hover{
    background: rgb(193, 192, 192);
}

@media (max-width: 750px){
    .Question-Section{
        margin: 0;
    }
}