*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    background-color: rgb(90, 90, 90);
}

@media (max-width: 750px){
    body{
        background-color: rgb(75, 75, 75);
    }
}